/* inter-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }  
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html{
    box-sizing: border-box;
}  
*, *::before, *::after{
    box-sizing: inherit;
}

:root {
  /* Типографика */
  --font-family-inter: 'Inter';
  --font-family-dela-gothic: 'Dela Gothic One', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-500: 500;  
  --font-weight-bold: 600;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px; 
  --font-size-20: 20px;   

  /* Цвета */
  --primary-grey-light: #F6F5F4;
  --primary-grey-dark: #757575;
  --primary-grey-medium: #E0E0E0;
  --primary-grey-icon: #BABABA;
  --primary-black: #000;
  --primary-pink-dark: #945069;
  --primary-pink-light: #F2D4DC;
  --primary-cyan-dark: #2B788B;
  --primary-cyan-light: #C3DCE3;
  --secondary-green: #639B6D;
  --secondary-green-faded: rgba(99, 155, 109, 0.30);
  --secondary-yellow: #C4A24C;
  --secondary-yellow-faded: rgba(196, 162, 76, 0.30);
  --secondary-orange: #CB5B43;
  --secondary-orange-faded: rgba(203, 91, 67, 0.30);
  --secondary-cyan: #5996A5;
}

body {
  margin: 0 auto;
  font-family: var(--font-family-inter);
  font-style: normal;
  color: var(--primary-black);
  font-weight: var(--font-weight-normal);
  background: #FAFAFA;
}

.main-header__wrapper{
  display: flex;
  height: 80px;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  background: #FFF;
  width: 100%;

}

.main-header__left-content{
  
  display: flex;
  padding: 13px 30px;

  height: 54px;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-500);
  line-height: 28px; /* 140% */
  letter-spacing: 0.03px;
}

.main-header__logo{
  gap: 10px;
}

.main-header-center-logo{
    text-align: center;
    display: flex;

    height: 66px;
    margin: 0 auto;
}  

.logo{
  display: flex;
  justify-content: center;
}

.main-header__right-content{
  align-items: center;  
  display: flex;
  padding: 10px 10px;
  gap: 20px;
}


.search-bar__filter{
  margin: 0 auto;  
  width: 162px;
  height: 34px;
  display: flex;
  border-radius: 15px;
  background-color: #EEEEEE;
}

.search_pic{
  margin: 2px 0px 0px 114px;
  display: block;
}

.button_right_header{
display: flex;
gap: 20px;
align-items: center; 
background-color: #fff;
border: #fff;
}

/* основной контент */

.main_content{
  display: flex;
  gap: 10px;
}

.left_menu{
background-color: #fff;
width: 340px;
height: 600px;
display: flex;
flex-direction: column;
gap: 10px;
}

.show_all{
 color: #2E2AD3;
 background-color: #fff;
 border: #fff;
 font-weight: 300;
font-size: var(--font-size-l);
padding: 20px 10px;
text-align: left;
}

.menu_actions{
padding: 0px 20px;
font-size: 22px;
color: #000;
margin-bottom: 51px;
}

.left_menu_logo{
line-height: 32px;
font-weight: 500;
}

.left_menu_options{
line-height: 32px;
 display: flex;
 flex-direction: column;
 gap: 10px; 
 font-weight: 300;
}

.attachment_info{
padding: 0px 20px;
font-size: 22px;
color: #000; 
line-height: 32px;
font-weight: 500;
}

.attach_file{
padding: 0px 20px;
display: flex;
}

.attach_details{
    display: flex;
    flex-direction: column;
    gap: 10px;   
    width: 208px;
}

.center_block{
 background-color: #fff;
 display: flex;
flex-direction: column;
gap: 14px;
padding: 30px 60px;
}

.center_block_name{
font-size: 30px;
font-weight: 300;
}

.main_info_center_block{
  padding: 8px 10px;  
  display: flex;
  column-gap: 50px;
  border:  0.5px solid #AEAEAE;
}

.vacation_info{ 
font-weight: 500;
}

.tech_details{
font-weight: 300;
}

.info_list{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
letter-spacing: -0.25px;
}

.comment_block{
    gap: 14px;
}

.comment_input{
    width: 880px;
    resize: none;
    border:  0.5px solid #AEAEAE;
    color: #636363;
font-size: 15px;
line-height: 32px;
letter-spacing: 0.15%;
font-family: var(--font-family-inter);
gap: 14px;
}

.buttons{
    display: flex;
gap: 20px;
}


.button{
    height: 40px;
    font-size: 25px;
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid #808080;
gap: 20px;
background-color: #fff;
}

.button_submit{
    background-color: #EEEEEE;
}